name: Remote Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: runs-on: self-hosted
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/xxnb/terraform-test
            git pull origin main
            chmod +x deploy.sh
            ./deploy.sh
